@model List<WebApplicationLayeredArchitecture.Models.Movie>


<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
     @foreach (var item in Model)
     {
         <h1>@item.Title</h1>
     }
</div>
</body>
</html>